nodered_Flow_in_the_Cloud.md
[{"id":"defd6821.5b6318","type":"debug","z":"e891e9de.9cc708","name":"","active":false,"console":"false","complete":"true","x":170,"y":340,"wires":[]},{"id":"7a9c3e2.b1928c","type":"switch","z":"e891e9de.9cc708","name":"Splitting based on the eventType","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"SmartTV","vt":"str"},{"t":"eq","v":"SmartAC","vt":"str"},{"t":"eq","v":"SecuritySystem","vt":"str"},{"t":"eq","v":"RoomCondition","vt":"str"},{"t":"eq","v":"ControlableLight","vt":"str"},{"t":"eq","v":"ElectricKettle","vt":"str"},{"t":"eq","v":"all","vt":"str"}],"checkall":"true","outputs":7,"x":330,"y":200,"wires":[["68c51112.43e49","3dda35e2.9ee95a"],["8cbe310c.d82dd","c40b4a09.f4b078"],["22f1dd9d.562d12","972ca012.a0bcd"],["3b66c0c.be5e74","6cd7e1e3.f49b7","ce5d369a.502aa8","a8d40f9c.bfa89","b465b503.d63b68"],["95ba027f.ff049"],["aa00c518.80bcb8","fd413f3f.04372"],["b70316f0.4cff08"]]},{"id":"a5dc0d08.aa9f3","type":"comment","z":"e891e9de.9cc708","name":"Generic Flow to accept events sent from car","info":"","x":315,"y":76,"wires":[]},{"id":"22f1dd9d.562d12","type":"debug","z":"e891e9de.9cc708","name":"","active":true,"console":"false","complete":"false","x":1110,"y":160,"wires":[]},{"id":"6cd7e1e3.f49b7","type":"debug","z":"e891e9de.9cc708","name":"","active":false,"console":"false","complete":"false","x":670,"y":100,"wires":[]},{"id":"aa00c518.80bcb8","type":"debug","z":"e891e9de.9cc708","name":"","active":true,"console":"false","complete":"false","x":570,"y":800,"wires":[]},{"id":"b70316f0.4cff08","type":"debug","z":"e891e9de.9cc708","name":"","active":false,"console":"false","complete":"false","x":570,"y":840,"wires":[]},{"id":"be059560.0d8ff8","type":"ibmiot in","z":"e891e9de.9cc708","authentication":"apiKey","apiKey":"a568b11d.51fa5","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":208,"wires":[["defd6821.5b6318","7a9c3e2.b1928c","bd744596.266768"]]},{"id":"bd744596.266768","type":"cloudant out","z":"e891e9de.9cc708","name":"","cloudant":"","database":"nodered","service":"ConnectedHomeIoTchallange-cloudantNoSQLDB","payonly":false,"operation":"insert","x":216,"y":282,"wires":[]},{"id":"3b66c0c.be5e74","type":"function","z":"e891e9de.9cc708","name":"Extract Temparature","func":"var instTemp=parseFloat(msg.payload.d.roomTemperature);\nmsg.payload=instTemp;\n\nmsg.tempMT=[{\n        name: 'Temp',\n        data: [instTemp],\n        tooltip: {\n            valueSuffix: ' C'\n        }\n    }];\n\nglobal.set(\"tempC\",instTemp);\nmsg.topic = \"TempInside\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["59e54d4c.5be9d4","3a4b6c7f.afac64"]]},{"id":"59e54d4c.5be9d4","type":"ui_template","z":"e891e9de.9cc708","group":"7bb66d97.e88424","name":"Temp","order":6,"width":"6","height":"6","format":"<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/highcharts-more.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\n<div id=\"containerMT\" style=\"min-width: 300px; max-width: 350px; height: 270px; margin: 0 auto\"></div>\n\n<script type=\"text/javascript\">\n(function(scope){\n        scope.$watch('msg', function(msg) {\n          mineMT.graph(msg.tempMT);\n        });\n    })(scope);\n\nvar sample_data=[{\n        name: 'Temp',\n        data: [25],\n        tooltip: {\n            valueSuffix: 'C'\n        }\n    }];\n\n\nfunction doit(containerMT)\n{\nthis.graph=function(MT)\n{    \nHighcharts.chart('containerMT', {\n\n    chart: {\n        type: 'gauge',\n        backgroundColor: '#333333',\n        plotBackgroundColor: null,\n        plotBackgroundImage: null,\n        plotBorderWidth: 0,\n        plotShadow: false\n    },\n    credits: {\n        enabled: false\n    },\n    title: {\n        text: 'Instantaneous Temp',\n        style: {\n            color: 'white'\n            //fontWeight: 'bold'\n        }\n    },\n    exporting: { enabled: false },\n    pane: {\n        startAngle: -150,\n        endAngle: 150,\n        background: [{\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#FFF'],\n                    [1, '#333']\n                ]\n            },\n            borderWidth: 0,\n            outerRadius: '109%'\n        }, {\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#333'],\n                    [1, '#FFF']\n                ]\n            },\n            borderWidth: 1,\n            outerRadius: '107%'\n        }, {\n            // default background\n        }, {\n            backgroundColor: '#DDD',\n            borderWidth: 0,\n            outerRadius: '105%',\n            innerRadius: '103%'\n        }]\n    },\n\n    // the value axis\n    yAxis: {\n        min: 0,\n        max: 40,\n\n        minorTickInterval: 'auto',\n        minorTickWidth: 1,\n        minorTickLength: 10,\n        minorTickPosition: 'inside',\n        minorTickColor: '#666',\n\n        tickPixelInterval: 30,\n        tickWidth: 2,\n        tickPosition: 'inside',\n        tickLength: 10,\n        tickColor: '#666',\n        labels: {\n            step: 2,\n            rotation: 'auto'\n        },\n        title: {\n            text: 'Temp (deg)'\n        },\n        plotBands: [{\n            from: 0,\n            to: 25,\n            color: '#55BF3B' // green\n        }, {\n            from: 25,\n            to: 35,\n            color: '#DDDF0D' // yellow\n        }, {\n            from: 35,\n            to: 40,\n            color: '#DF5353' // red\n        }]\n    },\n\n    series: MT\n\n});\n \n}\n \n}\n\nmineMT=new doit(\"containerMT\");\nmineMT.graph(sample_data);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":260,"wires":[[]]},{"id":"ce5d369a.502aa8","type":"function","z":"e891e9de.9cc708","name":"Extract humidity","func":"var instHumid=parseFloat(msg.payload.d.roomHumidity);\nmsg.payload=instHumid\n\nmsg.humidMH=[{\n        name: 'Humid',\n        data: [instHumid],\n        tooltip: {\n            valueSuffix: ' %'\n        }\n    }];\n    \nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["eea171d6.ae1a9","871820c0.4094c"]]},{"id":"eea171d6.ae1a9","type":"ui_template","z":"e891e9de.9cc708","group":"7bb66d97.e88424","name":"Humid","order":7,"width":"6","height":"6","format":"<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/highcharts-more.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\n<div id=\"containerMH\" style=\"min-width: 300px; max-width: 350px; height: 270px; margin: 0 auto\"></div>\n\n<script type=\"text/javascript\">\n(function(scope){\n        scope.$watch('msg', function(msg) {\n          mineMH.graph(msg.humidMH);\n        });\n    })(scope);\n\nvar sample_data=[{\n        name: 'Temp',\n        data: [],\n        tooltip: {\n            valueSuffix: 'C'\n        }\n    }];\n\n\nfunction doit(containerMH)\n{\nthis.graph=function(MH)\n{    \nHighcharts.chart('containerMH', {\n\n    chart: {\n        type: 'gauge',\n        backgroundColor: '#333333',\n        plotBackgroundColor: null,\n        plotBackgroundImage: null,\n        plotBorderWidth: 0,\n        plotShadow: false\n    },\n    credits: {\n        enabled: false\n    },\n    title: {\n        text: 'Instantaneous Humidity',\n        style: {\n            color: 'white'\n            //fontWeight: 'bold'\n        }\n    },\n    exporting: { enabled: false },\n    pane: {\n        startAngle: -150,\n        endAngle: 150,\n        background: [{\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#FFF'],\n                    [1, '#333']\n                ]\n            },\n            borderWidth: 0,\n            outerRadius: '109%'\n        }, {\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#333'],\n                    [1, '#FFF']\n                ]\n            },\n            borderWidth: 1,\n            outerRadius: '107%'\n        }, {\n            // default background\n        }, {\n            backgroundColor: '#DDD',\n            borderWidth: 0,\n            outerRadius: '105%',\n            innerRadius: '103%'\n        }]\n    },\n\n    // the value axis\n    yAxis: {\n        min: 0,\n        max: 100,\n\n        minorTickInterval: 'auto',\n        minorTickWidth: 1,\n        minorTickLength: 10,\n        minorTickPosition: 'inside',\n        minorTickColor: '#666',\n\n        tickPixelInterval: 30,\n        tickWidth: 2,\n        tickPosition: 'inside',\n        tickLength: 10,\n        tickColor: '#666',\n        labels: {\n            step: 2,\n            rotation: 'auto'\n        },\n        title: {\n            text: 'Humid (%)'\n        },\n        plotBands: [{\n            from: 0,\n            to: 60,\n            color: '#55BF3B' // green\n        }, {\n            from: 60,\n            to: 90,\n            color: '#DDDF0D' // yellow\n        }, {\n            from: 90,\n            to: 100,\n            color: '#DF5353' // red\n        }]\n    },\n\n    series: MH\n\n});\n \n}\n \n}\n\nmineMH=new doit(\"containerMH\");\nmineMH.graph(sample_data);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":340,"wires":[[]]},{"id":"a8d40f9c.bfa89","type":"function","z":"e891e9de.9cc708","name":"Extract Pressure","func":"var instWS=parseFloat(msg.payload.d.roomPressure);\nmsg.payload= instWS;\n\nmsg.CBDWS=[{\n        name: 'cbdWS',\n        data: [instWS],\n        tooltip: {\n            valueSuffix: ' hgmm'\n        }\n    }];\n    \nglobal.set(\"cbdWind\", instWS);\nmsg.topic = \"cbdWS\";\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":380,"wires":[["c2c06d3.e02c79","e3a3c08f.f83c"]]},{"id":"c2c06d3.e02c79","type":"ui_template","z":"e891e9de.9cc708","group":"7bb66d97.e88424","name":"Pressure","order":8,"width":"6","height":"6","format":"<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/highcharts-more.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\n<div id=\"containerWS\" style=\"min-width: 300px; max-width: 350px; height: 270px; margin: 0 auto\"></div>\n\n<script type=\"text/javascript\">\n(function(scope){\n        scope.$watch('msg', function(msg) {\n          mineWS.graph(msg.CBDWS);\n        });\n    })(scope);\n\nvar sample_data=[{\n        name: 'cbdWS',\n        data: [],\n        tooltip: {\n            valueSuffix: ' kmph'\n        }\n    }];\n\n\nfunction doit(containerWS)\n{\nthis.graph=function(WS)\n{    \nHighcharts.chart('containerWS', {\n\n    chart: {\n        type: 'gauge',\n        backgroundColor: '#333333',\n        plotBackgroundColor: null,\n        plotBackgroundImage: null,\n        plotBorderWidth: 0,\n        plotShadow: false\n    },\n    credits: {\n        enabled: false\n    },\n    title: {\n        text: 'Instantaneous Pressure',\n        style: {\n            color: 'white'\n            //fontWeight: 'bold'\n        }\n    },\n    exporting: { enabled: false },\n    pane: {\n        startAngle: -150,\n        endAngle: 150,\n        background: [{\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#FFF'],\n                    [1, '#333']\n                ]\n            },\n            borderWidth: 0,\n            outerRadius: '109%'\n        }, {\n            backgroundColor: {\n                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },\n                stops: [\n                    [0, '#333'],\n                    [1, '#FFF']\n                ]\n            },\n            borderWidth: 1,\n            outerRadius: '107%'\n        }, {\n            // default background\n        }, {\n            backgroundColor: '#DDD',\n            borderWidth: 0,\n            outerRadius: '105%',\n            innerRadius: '103%'\n        }]\n    },\n\n    // the value axis\n    yAxis: {\n        min: 0,\n        max: 1400,\n\n        minorTickInterval: 'auto',\n        minorTickWidth: 1,\n        minorTickLength: 10,\n        minorTickPosition: 'inside',\n        minorTickColor: '#666',\n\n        tickPixelInterval: 30,\n        tickWidth: 2,\n        tickPosition: 'inside',\n        tickLength: 10,\n        tickColor: '#666',\n        labels: {\n            step: 2,\n            rotation: 'auto'\n        },\n        title: {\n            text: 'Pressure (hgmm)'\n        },\n        plotBands: [{\n            from: 0,\n            to: 900,\n            color: '#55BF3B' // green\n        }, {\n            from: 900,\n            to: 1200,\n            color: '#DDDF0D' // yellow\n        }, {\n            from: 1200,\n            to: 1400,\n            color: '#DF5353' // red\n        }]\n    },\n\n    series: WS\n\n});\n \n}\n \n}\n\nmineWS=new doit(\"containerWS\");\nmineWS.graph(sample_data);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":420,"wires":[[]]},{"id":"13ca8832.3cb2c8","type":"ui_template","z":"e891e9de.9cc708","group":"a3d2e146.9f1ce","name":"Historical data","order":1,"width":"20","height":"8","format":"<script src=\"https://code.jquery.com/jquery-3.1.1.min.js\"></script>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n\n<div id=\"containerOTTrend\" style=\"min-width: 900px; height: 400px; margin: 0 auto\"></div>\n\n\n<!--<div id=\"container\" style=\"min-width: 400px; height: 400px; margin: 0 auto\"></div>-->\n\n\n\n\t\t<script type=\"text/javascript\">\n(function(scope){\n        scope.$watch('msg', function(msg) {\n          mineOTTrend.graph(msg.payload);\n        });\n    })(scope);\n    \n    var sample_data6=[{\n        type: 'area',\n        name: 'Temperature',\n        data:[\n            [Date.UTC(2016, 9, 21), 23],\n            [Date.UTC(2016, 10, 4), 28],\n            [Date.UTC(2016, 10, 9), 25],\n            [Date.UTC(2016, 10, 27),21],\n            [Date.UTC(2016, 11, 2), 28],\n            [Date.UTC(2016, 11, 26), 20],\n            [Date.UTC(2016, 11, 29), 19],\n            [Date.UTC(2017, 0, 11), 18],\n            [Date.UTC(2017, 0, 26), 16],\n            [Date.UTC(2017, 1, 3), 15],\n            [Date.UTC(2017, 1, 11), 17],\n            [Date.UTC(2017, 1, 25), 19],\n            [Date.UTC(2017, 2, 11), 20],\n            [Date.UTC(2017, 3, 11), 23],\n            [Date.UTC(2017, 4, 1), 24],\n            [Date.UTC(2017, 4, 5), 25],\n            [Date.UTC(2017, 4, 19), 26],\n            [Date.UTC(2017, 5, 3), 27]\n        ]},{\n        type: 'area',\n        name: 'Humidity',\n        data: [\n            [Date.UTC(2016, 9, 29), 62],\n            [Date.UTC(2016, 10, 9), 40],\n            [Date.UTC(2016, 11, 1), 68],\n            [Date.UTC(2017, 0, 1), 66],\n            [Date.UTC(2017, 0, 10), 80],\n            [Date.UTC(2017, 1, 19), 76],\n            [Date.UTC(2017, 2, 25), 62],\n            [Date.UTC(2017, 3, 19), 78],\n            [Date.UTC(2017, 3, 30), 83],\n            [Date.UTC(2017, 4, 14), 70],\n            [Date.UTC(2017, 4, 24), 71],\n            [Date.UTC(2017, 5, 10), 80]\n        ]}\n        \n        ];\n        \nfunction doit(containerOTTrend)\n{\n    this.graph=function(OTTrend)\n{\n    \n        Highcharts.setOptions({                                            // This is for all plots, change Date axis to local timezone\n                global : {\n                    useUTC : false\n                }\n            });\nHighcharts.chart(containerOTTrend, {\n        chart: {\n            zoomType: 'x',\n            backgroundColor:'#333333'\n            \n        },\n        title: {\n            text:'Average Temperature and Humidity Variation 2016-2017 ',\n        style: {\n            color: 'white'\n            //fontWeight: 'bold'\n        }\n        },\n        xAxis: {\n        type: 'datetime',\n        dateTimeLabelFormats: { // don't display the dummy year\n            minute: '%H:%M',\n\t        hour: '%H:%M',\n\t        day: '%e. %b'\n        },\n        labels: {\n         style: {\n            color: 'white'\n            //font: '11px Trebuchet MS, Verdana, sans-serif'\n         }\n        }\n        },\n        credits: { enabled: false },\n        yAxis: [{ // Primary yAxis\n        labels: {\n            format: '{value}',\n            style: {\n                color: 'white'//Highcharts.getOptions().colors[2]\n            }\n        },\n        title: {\n            text: 'Humidity (%)',\n            style: {\n                color: 'white'//Highcharts.getOptions().colors[2]\n            }\n        },\n        opposite: true\n\n    }, { // Secondary yAxis\n        gridLineWidth: 0,\n        title: {\n            text: 'Temperature (C)',\n            style: {\n                color: 'white'//Highcharts.getOptions().colors[0]\n            }\n        },\n        labels: {\n            format: '{value}',\n            style: {\n                color: 'white'//Highcharts.getOptions().colors[0]\n            }\n        },\n        stackLabels: {\n            enabled: false,\n            style: {\n                fontWeight: 'bold',\n                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'\n            }\n        }\n\n    }],\n    \n        legend: {\n        layout: 'vertical',\n        align: 'right',\n        x: 10,\n        verticalAlign: 'top',\n        y: 80,\n        floating: true,\n        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'\n        },\n        plotOptions: {\n            area: {\n                fillColor: {\n                    linearGradient: {\n                        x1: 0,\n                        y1: 0,\n                        x2: 0,\n                        y2: 1\n                    },\n                    stops: [\n                        [0, Highcharts.getOptions().colors[0]],\n                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]\n                    ]\n                },\n                marker: {\n                    radius: 2\n                },\n                lineWidth: 1,\n                states: {\n                    hover: {\n                        lineWidth: 1\n                    }\n                },\n                threshold: null\n            }\n        },\n        series: OTTrend\n        //series: [{\n        //    type: 'area',\n          //  name: 'USD to EUR',\n         //   data: OTTrend\n        //}]\n    });\n \n}\n \n}\n\nmineOTTrend=new doit(\"containerOTTrend\");\nmineOTTrend.graph(sample_data6);\n\n\t\t</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1220,"y":220,"wires":[[]]},{"id":"388780df.a0c6b","type":"openweathermap","z":"e891e9de.9cc708","name":"","wtype":"current","lon":"","lat":"","city":"Melbourne","country":"Australia","language":"en","x":710,"y":660,"wires":[["d4d6a875.5f2738"]]},{"id":"e49e485d.de3be8","type":"inject","z":"e891e9de.9cc708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":520,"y":660,"wires":[["388780df.a0c6b"]]},{"id":"d4d6a875.5f2738","type":"debug","z":"e891e9de.9cc708","name":"","active":true,"console":"false","complete":"false","x":944.2857142857142,"y":657.1428571428571,"wires":[]},{"id":"344830e3.ea041","type":"inject","z":"e891e9de.9cc708","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":810,"y":820,"wires":[["154d8e3b.bcc102"]]},{"id":"154d8e3b.bcc102","type":"moment","z":"e891e9de.9cc708","name":"Time String ","topic":"","input":"payload","inputType":"msg","inTz":"UTC","adjAmount":"10","adjType":"hours","adjDir":"add","format":"date","locale":"en_US","output":"payload","outputType":"msg","outTz":"UTC","x":976.9999237060547,"y":818.9999904632568,"wires":[["af318de7.b563c"]]},{"id":"af318de7.b563c","type":"function","z":"e891e9de.9cc708","name":"Time","func":"var dateString=(msg.payload).toString()\nvar convMain = dateString.split(\" \");\n//var convTime=convMain[4].split(\"\");\n\n//var newDate=convMain[0]+' '+convMain[1]+' '+convMain[2]+' '+convMain[3]+' '+convTime[0]+convTime[1]+convTime[2]+convTime[3]+convTime[4];\nvar newDate=convMain[0]+' '+convMain[1]+' '+convMain[2]+' '+convMain[3]+' '+convMain[4];\nvar newDateT=convMain[4];\nvar newDateD=convMain[0]+' '+convMain[1]+' '+convMain[2]+\",\"+' '+convMain[3];\nvar display= newDate\n\nreturn [{payload:display}, {payload:newDateT}, {payload:newDate}, {payload:newDateD}];","outputs":"1","noerr":0,"x":1120.8332710266113,"y":818.3335466384888,"wires":[["cef9f490.3b2dd8"]]},{"id":"cef9f490.3b2dd8","type":"ui_template","z":"e891e9de.9cc708","group":"7bb66d97.e88424","name":"SystemTime","order":1,"width":"17","height":"2","format":"<p><font size=\"5\" color= \"Yellow\"><b> Indoor Condition {{msg.payload}}</b></font></p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1301.121078491211,"y":751.1263084411621,"wires":[[]]},{"id":"258cf097.5fc7b","type":"ui_template","z":"e891e9de.9cc708","group":"7bb66d97.e88424","name":"AirQ","order":2,"width":"17","height":"1","format":"<p><font size=\"4\" color= \"green\"><b> Indoor Air Quality (CO2 Level):            &nbsp; {{msg.payload}} %</b></font></p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":460,"wires":[[]]},{"id":"b465b503.d63b68","type":"function","z":"e891e9de.9cc708","name":"Extract AirQuality","func":"var insAQ=parseFloat(msg.payload.d.roomAirQuality);\nmsg.payload= insAQ;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["258cf097.5fc7b"]]},{"id":"bd12baa1.eb5a68","type":"inject","z":"e891e9de.9cc708","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":110,"y":940,"wires":[["7dc41cfa.579154"]]},{"id":"7dc41cfa.579154","type":"solar power forecast","z":"e891e9de.9cc708","name":"","lat":"-37.792435","lon":"144.916065","tilt":"10","orientation":"0","altitude":"15","area":"1.0","number":"6","efficiency":"0.15","x":320,"y":939,"wires":[["4d3330dc.541e1"]]},{"id":"4d3330dc.541e1","type":"function","z":"e891e9de.9cc708","name":"Solar Gen Attributes","func":"/**\n * Returns a random integer between min (inclusive) and max (inclusive)\n * Using Math.round() will give you a non-uniform distribution!\n *//*msg.payload=Math.random()*10;\nreturn msg*/\n\n//assiging raw solar forecast to a new object\nvar power= {payload:msg.payload.powerforecast};\nvar powerR={payload:power.payload.toFixed(2)}\n\n\n//defining a global variable for future use if reqired\nglobal.set(\"InvVoltage\",(250-(Math.floor(Math.random() * 201) - 100)/10));\n//example for creating a new object\nvar vol= {payload:global.get(\"InvVoltage\")};\n\n//current deriving\nvar int= msg.payload.powerforecast*1000/global.get(\"InvVoltage\");\n\nvar current= {payload: int.toFixed(2)};\n//msg.payload=((msg.payload.powerforecast*1000)/voltage).toFixed(2);\nreturn [powerR, vol, current];\n\n\n//msg.payload = (250-(Math.floor(Math.random() * 201) - 100)/10);\n//return msg\n","outputs":"3","noerr":0,"x":573,"y":943.0000019073486,"wires":[["c9f517d0.3e9488"],[],[]]},{"id":"c9f517d0.3e9488","type":"ui_chart","z":"e891e9de.9cc708","name":"Power","group":"cb935879.5791a8","order":3,"width":0,"height":0,"label":"Generated Power (kW)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":770,"y":940,"wires":[[],[]]},{"id":"b00ea3a1.28aee","type":"ui_template","z":"e891e9de.9cc708","group":"cb935879.5791a8","name":"Solar Heading","order":1,"width":"17","height":"2","format":"<p><font size=\"5\" color= \"Yellow\"><b> Rooftop Solar Generation</b></font></p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1140,"y":380,"wires":[[]]},{"id":"1e7c7089.7c035f","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"Solar Heading","order":1,"width":"17","height":"2","format":"<p><font size=\"5\" color= \"Yellow\"><b> Appliance Data and Conditions</b></font></p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":1020,"wires":[[]]},{"id":"8cbe310c.d82dd","type":"debug","z":"e891e9de.9cc708","name":"","active":true,"console":"false","complete":"false","x":430,"y":40,"wires":[]},{"id":"68c51112.43e49","type":"debug","z":"e891e9de.9cc708","name":"","active":true,"console":"false","complete":"false","x":650,"y":20,"wires":[]},{"id":"3dda35e2.9ee95a","type":"function","z":"e891e9de.9cc708","name":"Extract Temparature","func":"var statTV=msg.payload.d.StatusTV;\nmsg.payload=statTV;\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":60,"wires":[["b615d817.f03bb8"]]},{"id":"b615d817.f03bb8","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"TV","order":2,"width":"8","height":"4","format":"<style>\np.small {\n    line-height: 80%;\n}\n\np.big {\n    line-height: 200%;\n}\n\n#rcorners2 {\n    border-radius: 25px;\n    border: 2px solid #73AD21;\n    padding: 20px; \n    width: 300px;\n    height: 120px;    \n}\n\n</style>\n<p id=\"rcorners2\"> \n<font size=\"4\" face=\"verdana\" color=\"green\"><b>Smart TV</b></font><br>\n<font size=\"3\" face=\"verdana\" >Device ID: </font>\n<font size=\"3\" face=\"verdana\" ><i><b> SamsungSmartTV001 </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Status: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.payload}} </b></i></font><br>\n<br> </p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":60,"wires":[[]]},{"id":"c40b4a09.f4b078","type":"function","z":"e891e9de.9cc708","name":"Extract AC Atrib","func":"var statAC=msg.payload.d.statusAC;\nvar fanMode=msg.payload.d.fanMode;\nvar setTemp=msg.payload.d.setTemp;\nmsg.statAC=statAC;\nmsg.fanMode=fanMode;\nmsg.setTemp=setTemp;\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["d3b7a4c6.2bb6d8"]]},{"id":"d3b7a4c6.2bb6d8","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"AC","order":2,"width":"8","height":"4","format":"<style>\np.small {\n    line-height: 80%;\n}\n\np.big {\n    line-height: 200%;\n}\n\n#rcorners2 {\n    border-radius: 25px;\n    border: 2px solid #73AD21;\n    padding: 20px; \n    width: 300px;\n    height: 120px;    \n}\n\n</style>\n<p id=\"rcorners2\"> \n<font size=\"4\" face=\"verdana\" color=\"green\"><b>Smart AC</b></font><br>\n<font size=\"3\" face=\"verdana\" >Device ID: </font>\n<font size=\"3\" face=\"verdana\" ><i><b> SamsungSmartAC001 </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Status: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.statAC}} </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Fan Mode: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.fanMode}} </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Temperature: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.setTemp}} degree C</b></i></font><br>\n<br> \n<font size=\"3\" face=\"verdana\" ></font>\n<font size=\"3\" face=\"verdana\" ><i><b></b></i></font><br>\n</p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":140,"wires":[[]]},{"id":"972ca012.a0bcd","type":"function","z":"e891e9de.9cc708","name":"Extract Security","func":"var statSec=msg.payload.d.healthStatus;\nvar intruDetect=msg.payload.d.intruDetect;\n\nmsg.healthStatus=statSec;\nmsg.intruDetect=intruDetect;\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["554014a6.f77d3c"]]},{"id":"554014a6.f77d3c","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"Security","order":2,"width":"8","height":"4","format":"<style>\np.small {\n    line-height: 80%;\n}\n\np.big {\n    line-height: 200%;\n}\n\n#rcorners2 {\n    border-radius: 25px;\n    border: 2px solid #73AD21;\n    padding: 20px; \n    width: 300px;\n    height: 120px;    \n}\n\n</style>\n<p id=\"rcorners2\"> \n<font size=\"4\" face=\"verdana\" color=\"green\"><b>Security System Monitor</b></font><br>\n<font size=\"3\" face=\"verdana\" >Device ID: </font>\n<font size=\"3\" face=\"verdana\" ><i><b> CCTVmonitor001 </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Status: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.healthStatus}} </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Intruders: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.intruDetect}} </b></i></font><br>\n<br> </p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":180,"wires":[[]]},{"id":"95ba027f.ff049","type":"function","z":"e891e9de.9cc708","name":"Extract Light","func":"var statusLight=msg.payload.d.statusLight;\nvar roomIluminocity=msg.payload.d.roomIluminocity;\n\nmsg.statusLight=statusLight;\nmsg.roomIluminocity=roomIluminocity;\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["41f116ee.8f27b8"]]},{"id":"41f116ee.8f27b8","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"Light","order":2,"width":"8","height":"4","format":"<style>\np.small {\n    line-height: 80%;\n}\n\np.big {\n    line-height: 200%;\n}\n\n#rcorners2 {\n    border-radius: 25px;\n    border: 2px solid #73AD21;\n    padding: 20px; \n    width: 300px;\n    height: 120px;    \n}\n\n</style>\n<p id=\"rcorners2\"> \n<font size=\"4\" face=\"verdana\" color=\"green\"><b>Controlable Light</b></font><br>\n<font size=\"3\" face=\"verdana\" >Device ID: </font>\n<font size=\"3\" face=\"verdana\" ><i><b> PhillipHueLight001 </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Status: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.statusLight}} </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Iluminocity Level: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.roomIluminocity}} Lux</b></i></font><br>\n<br> </p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":500,"wires":[[]]},{"id":"fd413f3f.04372","type":"function","z":"e891e9de.9cc708","name":"Extract Kettle","func":"var statusKet=msg.payload.d.statusKet;\nvar tempKet=msg.payload.d.tempKet;\n\nmsg.statusKet=statusKet;\nmsg.tempKet=tempKet;\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["3db47275.626dce"]]},{"id":"3db47275.626dce","type":"ui_template","z":"e891e9de.9cc708","group":"fb4acd78.a3bc1","name":"kettle","order":2,"width":"8","height":"4","format":"<style>\np.small {\n    line-height: 80%;\n}\n\np.big {\n    line-height: 200%;\n}\n\n#rcorners2 {\n    border-radius: 25px;\n    border: 2px solid #73AD21;\n    padding: 20px; \n    width: 300px;\n    height: 120px;    \n}\n\n</style>\n<p id=\"rcorners2\"> \n<font size=\"4\" face=\"verdana\" color=\"green\"><b>Controlable Kettle</b></font><br>\n<font size=\"3\" face=\"verdana\" >Device ID: </font>\n<font size=\"3\" face=\"verdana\" ><i><b> SonyKettle001 </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Status: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.statusKet}} </b></i></font><br>\n<font size=\"3\" face=\"verdana\" >Iluminocity Level: </font>\n<font size=\"3\" face=\"verdana\" ><i><b>{{msg.tempKet}} degree C</b></i></font><br>\n<br> </p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":560,"wires":[[]]},{"id":"3a4b6c7f.afac64","type":"ui_gauge","z":"e891e9de.9cc708","name":"","group":"7bb66d97.e88424","order":3,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}} ","min":0,"max":"36","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":220,"wires":[]},{"id":"871820c0.4094c","type":"ui_gauge","z":"e891e9de.9cc708","name":"","group":"7bb66d97.e88424","order":4,"width":"5","height":"5","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":300,"wires":[]},{"id":"e3a3c08f.f83c","type":"ui_gauge","z":"e891e9de.9cc708","name":"","group":"7bb66d97.e88424","order":5,"width":"5","height":"5","gtype":"gage","title":"Pressure","label":"hgmm","format":"{{value}} ","min":0,"max":"1300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":380,"wires":[]},{"id":"a568b11d.51fa5","type":"ibmiot","z":"","name":"SmartHomePrototype","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7bb66d97.e88424","type":"ui_group","z":"","name":"Room Condition","tab":"bee7ff77.c8583","order":1,"disp":false,"width":"20"},{"id":"a3d2e146.9f1ce","type":"ui_group","z":"","name":"Historical Data","tab":"831e53f9.9b429","order":1,"disp":true,"width":"20"},{"id":"cb935879.5791a8","type":"ui_group","z":"","name":"Solar Panel Generation Profile","tab":"bee7ff77.c8583","order":3,"disp":false,"width":"20"},{"id":"fb4acd78.a3bc1","type":"ui_group","z":"","name":"Appliance Data","tab":"bee7ff77.c8583","order":2,"disp":false,"width":"20"},{"id":"bee7ff77.c8583","type":"ui_tab","z":"","name":"Connected Home Prototype","icon":"home","order":2},{"id":"831e53f9.9b429","type":"ui_tab","z":"","name":"Historical Data","icon":"fa-area-chart","order":3}]
